<template>
  <div class="about">
    <v-card-actions>
      <v-btn color="deep-purple lighten-2" text to="/">Retour</v-btn>
    </v-card-actions>
    <v-row class="text-center">
      <v-col cols="12">
        <v-row align="center" justify="center">
          <h1 class="display-1 font-weight-bold ma-1">Les produits de</h1>
          <p class="display-1 font-weight-bold ma-1" v-text="cust.firstName"></p>
          <p class="display-1 font-weight-bold ma-1" v-text="cust.lastName"></p>
        </v-row>
        <v-container class="my-5">
          <v-layout row wrap>
            <v-flex xs12 sm6 md4 v-for="prod in products" :key="prod.name">
              <v-card class="ma-2" max-width="340">
                <v-card-text>
                  <p class="headline text--primary" v-text="prod.name"></p>
                  <v-row align="center" justify="center">
                    <p class="body-1 text--primary" v-text="prod.price"></p>
                    <p class="body-1 text--primary">€</p>
                  </v-row>
                  <v-row align="center" justify="center">
                    <p class="subtitle-1 text--primary mr-1">Quantité :</p>
                    <p class="subtitle-1 text--primary" v-text="prod.quantity"></p>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import router from "../router";

export default {
  name: "About",

  data: () => ({
    products: [],
    items: []
  }),

  mounted() {
    
    this.$http
      .get(process.env.VUE_APP_API_PURCHASES)
      .then(response => {
        this.idCust = this.$route.params.cust.id;
        this.items = response.data;
        for (var i in this.items) {
          this.custo = this.items[i].customer;
          if (this.custo.id == this.idCust) {
            this.items[i].product.quantity = this.items[i].quantity;
            this.items[i].product.price = this.items[i].product.price.split(".")[0];
            this.products.push(this.items[i].product);
            
          }
        }
      })
      .catch(error => {
        error;
      });
  },

  created() {
    this.cust = this.$route.params.cust;
    
  },
  methods: {
    navigate() {
      router.go(-1);
    }
  }
};
</script>

