<template>
  <v-row class="text-center">
    <v-col cols="12">
      <h1 class="display-1 font-weight-bold mb-3">Clients</h1>
      <v-container class="my-5">
        <v-layout row wrap>
          <v-flex class="todo-list" xs12 sm6 md4 v-for="cust in customers" :key="cust.name">
            <v-card class="ma-2" max-width="340">
              <v-card-text>
                <v-row align="center" justify="center">
                  <p class="body-1 text--primary mr-1" v-text="cust.firstName"></p>
                  <p class="body-1 text--primary" v-text="cust.lastName"></p>
                </v-row>
                <router-link :to="{ name: 'about', params: { cust: cust } }">Détails</router-link>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
        <v-text-field
          class="mt-8"
          type="number"
          label="Recharcher le CA avec une année : "
          placeholder="Année"
          id="text-field-year"
          outlined
          v-model="year"
        ></v-text-field>
      <div class="text-center mb-12">
          <v-btn rounded color="primary"  id="submit-btn" type="button" v-on:click="submitYear()" dark>Envoyer</v-btn>
        </div>
        <v-card class="mx-auto" max-width="344">
          <v-card-text>
            <div>Le CA total est de </div>
            <p class="display-1 text--primary mr-1" v-text="ca"></p>
          </v-card-text>
        </v-card>
         <p v-if="errors.length">
          <ul>
            <p v-for="error in errors" :key="error">{{ error }}</p>
          </ul>
        </p>
      </v-container>
    </v-col>
  </v-row>
</template>

<style>
.v-application a {
  color: dodgerblue;
  text-decoration: none;
}
</style>

<script>
import router from "../router";
export default {
  name: "HelloWorld",

  data: () => ({
    customers: [],
    errors: [],
    ca: 0,
    year: ''
  }),
  mounted() {
    this.$http
      .get(process.env.VUE_APP_API_CUSTOMER)
      .then(response => {
        this.customers = response.data;
      })
      .catch(error => {
        error;
      });
  },
  created() {
    this.cust = this.$route.params.cust;
    if (this.$route.query.debug) {
      this.debug = this.$route.query.debug;
    }
  },
  methods: {
    navigate() {
      router.go(-1);
    },
    submitYear : async function () {
      this.errors = [];
      if(this.year == "" || parseInt(this.year).isNaN){
        this.errors.push("L'année n'est pas renseignée");
      }
      if (parseInt(this.year.length) > 3 && parseInt(this.year.length) < 5) {
        this.$http
          .get( process.env.VUE_APP_API_ANALYTICS + this.year)
          .then(response => {
            this.ca = response.data.turnover + " €";
          })
          .catch(error => {
             return error;
          });
      }
      if(parseInt(this.year.length) >= 5){
        this.errors.push("L'année n'est pas valide");
        this.ca = 0;
      }
    },

    reset() {
      this.year = 0;
    }
  }
};
</script>

