<template>
  <v-app>
    <v-app-bar
      app
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="./assets/logo1.png"
          transition="scale-transition"
          width="40"
        />
        <h1 class="shrink mt-1 hidden-sm-and-down">
          AYAMarket
        </h1>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href=""
      >
        <v-icon>mdi-basket</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content>
      <router-view/>
    </v-content>
  </v-app>
</template>

